.title1,
.title2,
.title3 {
  font-size: 80px;
  font-weight: 800;
  margin: 0;
  background: rgb(19, 20, 21);
  background: linear-gradient(90deg, rgba(19, 20, 21, 1) 0%, rgb(100, 115, 133) 57%, rgba(24, 44, 65, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  // filter: drop-shadow(0 5px 3px #bfccd8);
  position: relative;
  overflow: hidden;
}
.header_wrapper {
  position: relative;
  overflow: hidden;
}

.header_wrapper .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); // Наклон
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
}
@keyframes flareAnimation {
  0% {
    left: -80%;
  }
  100% {
    left: 80%;
  }
}

// .title2::before {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 40px;
//   height: 100%;
//   z-index: 5;
//   background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
//   filter: blur(8px);
//   transform: translateX(-60px) skew(-45deg);
//   animation: move 5s 1s infinite;
// }

@keyframes move {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.title2 {
  margin-left: 50px;
}
.title3 {
  margin-left: 100px;
}
.text {
  margin-top: 45px;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 500;
  max-width: 750px;
}

.form {
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 1300px) {
  .form {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .home_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .title1,
  .title2,
  .title3 {
    font-size: 65px;
  }

  .title1 {
    margin: 0;
    align-self: start;
  }

  .text {
    margin-left: 0;
    display: flex;
    justify-content: flex-end;
    align-self: end;
    max-width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .title1,
  .title2,
  .title3 {
    font-size: 45px;
  }
  .title1 {
    margin-left: 10%;
  }
  .title2 {
    margin-left: 17%;
  }
  .title3 {
    margin-left: 22%;
  }

  .text {
    max-width: 90%;
    margin-top: 25px;
  }

  .form {
    margin-top: 50px;
  }
}

@media screen and (max-width: 415px) {
  .title1 {
    margin-left: 5%;
  }
  .title2 {
    margin-left: 7%;
  }
  .title3 {
    margin-left: 11%;
  }

  .text {
    max-width: 100%;
    margin-top: 25px;
  }
}
