.wrapper {
  max-width: 100vw;
}

.card_section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
}

.link {
  margin: 20px 0;
  width: 315px; /* добавил потом чтобы текст не вылезал */
}

.link:hover {
  .card_wrapper img {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.card_wrapper {
  display: block;
  position: relative;
  margin-bottom: 15px;
  width: 315px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s;
  }
}

.service {
  position: absolute;
  bottom: 20px;
  left: 26px;
  color: #fff;
  background-color: #272727;
  padding: 9px 16px;
  // border: 1px solid #fff;
  border-radius: 30px;
}

.name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  max-width: 300px;
  margin-top: 15px;
}

.form {
  display: flex;
  margin-top: 100px;
}

@media screen and (max-width: 1300px) {
  .form {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .link {
    width: 235px;
  }
  .wrapper {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_section {
    // margin: 0 auto;
  }
  .card_wrapper {
    width: 235px;
    height: 158px;
  }

  .card {
    width: 235px;
    height: 158px;
  }

  .service {
    bottom: 15px;
    left: 19px;
    padding: 7px 13px;
  }
  .form {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .card_section {
    justify-content: center;
    width: 80%;
  }

  .link {
    width: 100%;
    display: inline;
  }
  .card_wrapper {
    width: 100%;
    height: 230px;
    display: block;
    margin: 0 auto 17px auto;
  }

  // .card {
  //   width: 100%;
  //   height: 230px;
  //   margin: 0 auto;
  // }

  .name {
    margin-top: 15px;
  }
}

@media screen and (max-width: 415px) {
  .card_section {
    width: 100%;
  }
}
