.form {
  &__wrapper {
    // display: flex;
    // flex-direction: column;
    min-width: 205px;
    flex: 0.5;
    margin-left: 40px;
  }

  &__element {
    padding: 20px 30px;
    background-color: #131415;
    border-radius: 20px;
  }

  &__contact {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }

  &__discuss,
  &__coop {
    margin-top: 20px;
    color: #858585;
    font-style: 15px;
  }

  &__email,
  &__phone {
    color: #fff;
    margin-top: 15px;
    font-style: 20px;
  }

  &__bottom {
    height: 180px;
    margin-top: 20px;
    background-color: #131415;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .form {
    &__wrapper {
      margin-top: 35px;
      margin-left: 0;
      display: flex;
    }

    &__element {
      flex: 0.3;
    }

    &__bottom {
      flex: 0.3;
      margin-left: 50px;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .form {
    &__bottom {
      flex: 0.6;
    }
  }
}

@media screen and (max-width: 576px) {
  .form {
    &__wrapper {
      flex-direction: column;
    }

    &__bottom {
      margin: 35px 0 0 0;
      flex: 0 1 auto;
      // width: 100%;
      // height: 250px;
    }
  }
}
