* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // input[type='number'] {
  //   -moz-appearance: textfield;
  // }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.main_wrapper {
  background-color: #c8d9e9;

  // добавил
  overflow: hidden;
}

.wrapper {
  // width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 10px 0 0 60px;
  padding: 15px 50px 40px 50px;
  border-radius: 50px 0 0 0;
  // max-width: 1400px;
  max-width: 100vw;

  // поменял
  position: relative;
  // overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .main_wrapper {
    background-color: #fff;
  }

  .wrapper {
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  .main_wrapper {
    background-color: #fff;
  }

  .wrapper {
    padding: 15px 10px 40px 10px;
  }
}
